<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">教育经历</h2>

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/school.jpg' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>怀化学院</strong>
                        <span>2014 - 2018 | 计算机科学与技术</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>学习计算机专业基础知识，获得2次乙等奖学金与三好学生。
                        </p>
                        <p>在2017年（第十届）中国大学生计算机设计大赛中获得二等奖
                        </p>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->